[submodule "projects/peis-ng-project2"]
	path = projects/peis-ng-project2
	url = https://github.com/Namrata-Patel/peis-ng-project2.git
[submodule "projects/peis-ng-project1"]
	path = projects/peis-ng-project1
	url = https://github.com/Namrata-Patel/peis-ng-project1.git